<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Table.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>連結目錄</title>
</head>
<body>
    <table class="fancytable">
        <tr class="headerrow">
            <td>題目</td>
            <td>連結</td>
        </tr>
        <tr class="datarowodd">
            <td>
                Controller = Default , Action = Login
            </td>
            <td>
                <a href="@Url.Action("Login","Default")">Login</a><br />
            </td>
        </tr>
        <tr class="dataroweven">
            <td>
                Controller = Home, Action = Welcome
            </td>
            <td>
                <a href="@Url.Action("Welcome","Home")">Welcome</a><br />
            </td>
        </tr>
        <tr class="datarowodd">
            <td>
                Controller = Home, Action = ContactMe
            </td>
            <td>
                <a href="@Url.Action("ContactMe","Home")">Contact</a><br />
            </td>
        </tr>
        <tr class="dataroweven">
            <td>
                Controller = Default, Action = List
            </td>
            <td>
                <a href="@Url.Action("List","Default")">List</a><br />
            </td>
        </tr>
        <tr class="datarowodd">
            <td>
                Area = Order, Controller = Default, Action = List, {Page} = 數字
            </td>
            <td>
                <a href="@Url.Action("List", "Default", new { Area = "Order"})">Order/List</a><br />
            </td>
        </tr>
        <tr class="dataroweven">
            <td>
                Area = Order, Controller = Default, Action = Detail, {id} = 數字
            </td>
            <td>
                <a href="@Url.Action("Detail", "Default", new { Area = "Order"})">Order/Detail</a><br />
            </td>
        </tr>
        <tr class="datarowodd">
            <td>
                Area = Ticket, Controller = Main, Action = List
            </td>
            <td>
                <a href="@Url.Action("List", "Main", new { Area = "Ticket"})">Order/Detail</a><br />
            </td>
        </tr>
        <tr class="dataroweven">
            <td>
                Area = Ticket, Controller = Main, Action = Detail, {id} = 數字
            </td>
            <td>
                <a href="@Url.Action("Detail", "Main", new { Area = "Ticket"})">Ticket/Detail</a><br />
            </td>
        </tr>
        <tr class="datarowodd">
            <td>
                Area = Product, Controller = Main, Action = List, {category} = 字串
            </td>
            <td>
                <a href="@Url.Action("List", "Main", new { Area = "Product"})">Product/{category}</a><br />
            </td>
        </tr>
    </table>
</body>
</html>
